* {
  margin:0;
  padding:0; 
}

header, .five-day, .display-4, .lead, .card {
  font-family: 'Blinker', sans-serif;
}

.navbar-text {
 font-size: 50px;
}

.input-group, .btn-secondary  {
  margin-top: 20px;
  margin-left: 20px;
}

.input-group {
  width: 70%;
}

.list-group {
  margin-left: 20px;
  visibility: hidden;
}

.btn-secondary {
  visibility: hidden;
}

.list-group {
  cursor: pointer;
}


.jumbotron {
  margin-top: 20px;
}

.lead {
  margin-bottom: 20px;

}

.five-day {
 font-size: 30px;
 margin-bottom: 35px;
}

.card-body {
  padding: 0.25rem;
}

.card-text {
  margin-bottom: 10px;
}

.card-deck {
  padding: 0;
  margin: 0;
}

/* @media (min-width: 878px) { 
  .card-deck {
    flex-direction: column;
  }
} */